# Token del bot (Discord Developer Portal -> tu app -> Bot -> Reset Token)
DISCORD_TOKEN=

# Client ID de la aplicación (Discord Developer Portal -> tu app -> General Information -> Application ID)
CLIENT_ID=

# ID de tu servidor (clic derecho en el ícono del server con modo desarrollador activado -> Copiar ID)
# Se usa para registrar los comandos al instante solo en tu server (recomendado mientras desarrollás)
GUILD_ID=

# ID de rol con permisos para usar comandos de admin de economía (ej: Dios Pepsi o El Recaído)
ADMIN_ROLE_ID=
